h1= title
p Welcome to #{title}

img(src="/render/png?url=http%3A%2F%2Fspacerat.meteornet.net%2Fmusic%2FHarris.mp3&amp;hash=87a79ece3bf3d5eb957ac7748edc435d78d41dbf&amp;width=500&amp;height=51")
br
a(href="http://spacerat.meteornet.net/music/Harris.mp3")Harris
br
img(src="/render/png?url=http%3A%2F%2Fspacerat.meteornet.net%2Fmusic%2FReasonDnB.mp3&amp;hash=8e55c94acadf8c4a4d617f9eb62e48866245373f&amp;width=500")
br
a(href="http://spacerat.meteornet.net/music/ReasonDnB.mp3")ReasonDnB
