h1= title
p Genvelope is a simple API and tool for creating images out of the waveforms of MP3 tracks.
h2 Examples
.example
	img.waveform(width="398",height="200",src="/render/png?url=http%3A%2F%2Fspacerat.meteornet.net%2Fmusic%2FHarris.mp3&amp;hash=87a79ece3bf3d5eb957ac7748edc435d78d41dbf&amp;width=398&amp;height=200")
	a(target='_blank', href="http://spacerat.meteornet.net/music/Harris.mp3") Harris
.example
	img.waveform(width="398",height="200",src="/render/png?url=http%3A%2F%2Fspacerat.meteornet.net%2Fmusic%2FReasonDnB.mp3&amp;hash=8e55c94acadf8c4a4d617f9eb62e48866245373f&amp;width=398&amp;height=200")
	a(target='_blank', href="http://spacerat.meteornet.net/music/ReasonDnB.mp3") ReasonDnB

h2 Create
form(method="post", action='render/html', enctype="multipart/form-data‎")
	fieldset
		legend Generate new envelope
		input#fwidth(type="number", name="width", value="800")
		label(for = "fwidth") Width
		br
		input#fheight(type="number", name="height", value="200")
		label(for = "fheight") Height
		br
		input(type="file", name="file")
		br
		input(type="submit", value="Send")
div
	h2 API
	:markdown
		### GET /render/:format
		#### Parameters
		*	**format** - "html" or "png"
		*	**url** - URL of an mp3 file to be downloaded by the server
		*	**hash** sha1 ash of the filepointed to by the url paramter
		*	**[width=400]** - optional, width of image
		*	**[height=200]** - optional, height of image

		### POST /render/:format
		#### Body parameters
		*	**format** - "html" or "png"
		*	**file** - file data in the multipart/form-data body
		*	**[width=400]** - optional, width of image
		*	**[height=200]** - optional, height of image
	
		### Format parameter
		With format set to &quot;png&quot;, the result of the call is a 
		HTTP redirect to the rendered image file.

		With format set to &quot;html&quot;, the result of the call is a
		HTTP redirect to a Successfully Uploaded Image page, which contains
		a link to the image in an img tag.
